<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IsuCorp Test</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("stylesCss", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top banner-style">
        <div class="container">
            <div class="navbar-header">                
                @Html.ActionLink("ISUCorp", "Index", "Reservation", new { area = "" }, new { @class = "navbar-brand isucorp-style"})
                <p class="hidden-sm hidden-xs" style="color:white ; font-size:small" >World Class Software Development</p>
                <div class="pull-right">
                    @RenderSection("banner", required: true)
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav hidden-sm hidden-xs">
                    <li style="margin: 35px 0px 0px 30px">@Html.ActionLink("English", "LanguageOptions", "Reservation", new { language = "en" }, null)</li>
                    <li style="margin: 35px 0px 0px 30px">@Html.ActionLink("Español", "LanguageOptions", "Reservation", new { language = "es" }, null)</li>
                </ul>
            </div>
            
        </div>
        </div>
    <div class="page-header">
        <div class="container">
            @RenderSection("pageHeader", required: false)
        </div>
    </div>
    <div class="container">
        @RenderBody()        
    </div>
    <div class="page-footer">
        <div class="container">
            @RenderSection("pageFooter", required: false)
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
