@using IsuCorpTest.Resources
@model IEnumerable<IsuCorpTest.Entities.Reservation>

@{
    ViewBag.Title = "Index";
}

@section banner{

    <div class="hidden-lg hidden-md hidden-sm col-xs-12">
        @Html.ActionLink(@Resources.SMALL_CREATE_RESERVATION, "Create", null, new { @class = "banner-link-style" })

    </div>

}

@section pageHeader{
    <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
            <h2 class="mylabel-style">@Resources.RESERVATION_LIST</h2>
        </div>
        <div class="col-lg-5 col-md-4 hidden-sm hidden-xs ">
            <p style="margin-top: 22px; color:#7c7c7c"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 hidden-xs pull-right">
            @Html.ActionLink(@Resources.CREATE_RESERVATION_BUTTON, "Create", null, new { @class = "btn btn-default reservationbtn-style" })
        </div>
    </div>
}
<div class="body-content-list">
    <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 order-style ">

            @using (Html.BeginForm("OrderBy", "Reservation", FormMethod.Get, new { id = "order-by", pageNumber = ViewBag.selectedPage }))
            {
                var birthDateAsc = ViewBag.OrderTypeSelected != null && ViewBag.OrderTypeSelected == "BirthDate asc" ? "selected" : "";
                var birthDateDesc = ViewBag.OrderTypeSelected != null && ViewBag.OrderTypeSelected == "BirthDate des" ? "selected" : "";
                var contactNameAsc = ViewBag.OrderTypeSelected != null && ViewBag.OrderTypeSelected == "ContactName asc" ? "selected" : "";
                var contactNameDesc = ViewBag.OrderTypeSelected != null && ViewBag.OrderTypeSelected == "ContactName des" ? "selected" : "";
                var ranking = ViewBag.OrderTypeSelected != null && ViewBag.OrderTypeSelected == "Ranking des" ? "selected" : "";

                <select name="orderType" place-holder="Order By" class="form-control">
                    <option value="BirthDate asc">@Resources.ORDER_BY_DATE_ASCENDING</option>
                    <option value="BirthDate des" @birthDateDesc>@Resources.ORDER_BY_DATE_DESCENDING</option>
                    <option value="ContactName asc" @contactNameAsc>@Resources.ORDER_BY_ALPHABETIC_ASCENDING</option>
                    <option value="ContactName des" @contactNameDesc>@Resources.ORDER_BY_ALPHABETIC_DESCENDING</option>
                    <option value="Ranking des" @ranking>@Resources.ORDER_BY_RANKING</option>
                </select>
            }
        </div>
    </div>


    @foreach (var item in Model)
    {
        <div class="row clearfix row-style">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 contact">
                <div class="pull-left">
                    <img class="img-responsive" />
                </div>
                <div class="pull-left">
                    <span class="lead">@Html.DisplayFor(modelItem => item.ContactName)</span><br />
                    @{ 
                        var date = item.BirthDate.HasValue ? item.BirthDate.Value.ToString("D"): "";
                    }
                    <span class="text-muted">@date</span>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                <span class="lead">@Resources.RANKING</span>
                <br />
                <select class="ranking" object-id="@item.Id">
                    <option value=""></option>
                    @for (int i = 1; i <= 5; i++)
                {
                    var selected = (item.Ranking == i ? "selected" : "");
                        <option value="@i" @selected>@i</option>
                    }
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-2 set-favorite" object="@item.Id">
                @{
                    var isFavorite = (item.isFavorite.HasValue && item.isFavorite.Value) ? "cuore-on" : "cuore-off";
                }
                <div class="pull-right cuore @isFavorite"></div>
                <div class="pull-right">
                    <span class="text-muted hidden-sm hidden-xs favorite-style">@Resources.ADD_FAVORITES</span>&nbsp;
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 buttons">
                @Html.ActionLink(@Resources.DELETE_BOTTON, "Delete", new { id = item.Id }, new { @class = "btn btn-default mybtn-style hidden-sm hidden-xs" })
                @Html.ActionLink(@Resources.EDIT_BOTTON, "Edit", new { id = item.Id }, new { @class = "btn btn-default mybtn-style" })
            </div>

        </div>
                    }


    <ul class="pagination">
        @Html.Hidden("pageNumber", (int)ViewBag.selectedPage)

        @{
            var firstDisable = ViewBag.selectedPage == 1 ? "disabled" : "";
        }
        <li class="@firstDisable"><a href="@Url.Action("Paginator", "Reservation", new {pageNumber = (int)ViewBag.selectedPage-1, orderType=ViewBag.OrderTypeSelected}) ">&laquo;</a></li>

        @for (int i = 1; i <= ViewBag.pageCout; i++)
        {
            var active = ViewBag.selectedPage == i ? "active" : "";
            <li class="@active">@Html.ActionLink(i.ToString(), "Paginator", "Reservation", new { pageNumber = i, orderType = ViewBag.OrderTypeSelected }, null)</li>
        }
        @{
            var lastDisable = ViewBag.selectedPage == ViewBag.pageCout ? "disabled" : "";
        }
        <li class="@lastDisable"><a href="@Url.Action("Paginator", "Reservation", new {pageNumber = (int)ViewBag.selectedPage+1, orderType=ViewBag.OrderTypeSelected})">&raquo;</a></li>
    </ul>
</div>
@section pageFooter{
    <h6></h6>
}

@section stylesCss {
    @Styles.Render("~/Content/ranking")
}
@section Scripts {
    @Scripts.Render("~/bundles/order")
    @Scripts.Render("~/bundles/jranking")
}
